body {
    font-family: Cambria, sans-serif; /* Prosta czcionka */
    background-color: #09092a; /* granatowe tło */
    color: #d2d1d9; /* Ciemny tekst */
}

.container {
    display: flex; /* Flexbox dla wyśrodkowania */
    flex-direction: column; /* Elementy w pionie */
    align-items: center; /* Wyśrodkowanie w poziomie */
    max-width: 800px; /* Maksymalna szerokość */
    margin: 0 auto; /* Wyśrodkowanie kontenera */
    padding: 20px; /* Odstęp od krawędzi */
}

h1 {
    color: #e6e9e6; /* jaśniejszy nagłówek */
    font-size: 2em;
}

p {
    line-height: 1.6; /* Czytelny odstęp między liniami */
    font-size: 1.1em;
}

.link {
    color: #09ff00; /* zielony kolor linku */
    text-decoration: underline; /* Bez podkreślenia */
    font-size: 1em;
    margin: 10px 0;
}

.link:hover {
    text-decoration: underline; /* Podkreślenie przy najechaniu */
}
